@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-11-01 11:29:15
 * @version $Id$
 */
 body {
 	font-family: "Microsoft YaHei";
 }
 .clearfix {
 	zoom: 1;
 }
 .clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
 }
.cont {
	width: 1200px;
	margin: 0 auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.min-width {
	min-width: 1200px;
}
.header {
	background-color: #a0a39f;
}
.header_cont {
	font-size: 12px;
}
.header_cont .welc {
	line-height: 29px;
	-webkit-animation:animations 6s linear infinite alternate  both;
    -moz-animation:animations 6s linear infinite alternate  both;
    animation:animations 6s linear infinite alternate  both;
}
@-webkit-keyframes animations{
    0%{-webkit-transform:translatex(0);}
    100%{-webkit-transform:translatex(600px);}
}
.header_cont .log ul li {
	float: left;
	line-height: 29px;
	text-align: center;
}
.header_cont .log ul li a {
	border-left: 1px solid #595b59;
	padding: 0 5px;
	color: #191919;	
}
.header_cont .log ul .reg {
	border: none;
	color: #dd2525;
}
.header_cont .log ul li span {
	color: #dd2525;
}
.header_serch {
	background-color: #ffffff;
}
.serch_cont .logo {
	padding-top: 5px;
}
.serch_cont .serv {
	width: 721px;
	padding-top: 20px;
	padding-bottom: 23px;
}
.serch_cont .serv .ser_us {
	position: relative;
	padding-top: 4px;
}
.serch_cont .serv .ser_us input {
	outline: none;
	height: 44px;
	border: none;
}
.serch_cont .serv .ser_us .int1 {
	width: 258px;
	border: 1px solid #807f7f;
	text-indent: 1em;
	height: 40px;
}
.serch_cont .serv .ser_us .int2 {
	width: 58px;
	background-color: #dd2525;
	color: white;
	font-size: 14px;
	position: absolute;
	right: -57px;
	top: 4px;
	cursor: pointer;
}
.serch_cont .serv .pho {
	text-align: center;
}
.serch_cont .serv .pho p {
	font-size: 14px;
	color: #a0a39f;
	margin-bottom: 15px;
}
.serch_cont .serv .pho h3 {
	font-size: 22px;
	color: #ff0a0a;
}
.nav {
	background-color: #454545;
}
.nav_cont ul li {
	float: left;
	padding: 32px 0;
	margin-right: 49px;
	width: 122px;
	text-align: center;
}
.nav_cont ul li a {
	font-size: 26px;
	color: #fbfbfa;
}
.nav_cont ul li:hover {
	background-color: #a8875f;
}
.nav_cont ul .popl {
	position: relative;
}
.nav_cont ul .popl:hover .pop {
	display: block;
}
.nav_cont ul .popl .pop {
	position: absolute;
	left: 0;
	top: 89px;
	background-color: #454545;
	width: 160px;
	padding-bottom: 20px;
	display: none;
	z-index: 2;
}
.nav_cont ul .popl .pop p {
	line-height: 40px;
	text-align: left;
}
.nav_cont ul .popl .pop p a {
	font-size: 16px;
	margin-left: 32px;
}
.nav_cont ul .popl .pop p .smal {
	font-size: 20px;
	color: #fff;
}
.nav_cont ul .popl .apop {
	width: 227px;
}
.nav_cont ul .popl .pop .alllist {
	line-height: 40px;
	text-align: left;
	padding-left: 52px;
	background-image: url(../images/member_img-05.png);
	background-repeat: no-repeat;
	background-position: 17px 14px;
}
.nav_cont ul .popl .pop .alllist:hover {
	background-color: #a8865f;
}
.nav_cont ul .popl .pop .one {
	background-position: 17px -21px;
}
.nav_cont ul .popl .pop .tow {
	background-position: 17px -58px;
}
.nav_cont ul .popl .pop .three {
	background-position: 17px -97px;
}
.nav_cont ul .popl .pop .four {
	background-position: 17px -136px;
}
.nav_cont ul .popl .pop .five {
	background-position: 17px -174px;
}
.nav_cont ul .popl .pop .six {
	background-position: 17px -214px;
}
.nav_cont ul .popl .pop .seven {
	background-position: 17px -251px;
}
.nav_cont ul .popl .pop .eit {
	background-position: 17px -290px;
}
.nav_cont ul .popl .pop .nine {
	background-position: 17px -326px;
}
.nav_cont ul .popl .pop .ten {
	background-position: 17px -363px;
}
.nav_cont ul .popl .pop .alllist a {
	margin: 0;
}
.center {
	background-color: #ffffff;
}
.libanner .ripassword {
	padding-right: 30px;
	margin-top: 190px;
}
.libanner .banne {
	margin-top: 90px;
}
.libanner .ripassword_cont .qqcom {
	margin-bottom: 37px;
	position: relative;
}
.libanner .ripassword_cont .qqcom input, .code input {
	border: 1px solid #171717;
	outline: none;
	width: 330px;
	height: 70px;
	font-size: 16px;
	text-indent: 1em;
}
.libanner .ripassword_cont .qqcom i, .code i {
	padding: 20px;
	text-align: center;
	border: 1px solid #171717; 
	font-size: 32px;
	position: absolute;
	top: 0;
	left: -73px;
}
.code {
	position: relative;
	margin-bottom: 35px;
}
.code .btn {
	width: 134px;
	height: 74px;
	position: absolute;
	top: 0px;
	right: 0;
	background-color: #a8865f;
	font-size: 16px;
	color: white;
	border: none;
	text-align: center;
}
.proto {
	margin-bottom: 15px;
	margin-left: -77px;
}
.proto input {
	width: 11px;
	height: 11px;
	outline: none;
	border: 1px solid #171717;
}
.proto label {
	font-size: 12px;
}
.go_on {
	margin-left: -73px;
}
.go_on input {
	font-size: 16px;
	color: white;
	background-color: #a8865f;
	outline: none;
	width: 195px;
	height: 56px;
	border: none;
}
.fir_come h3 {
	font-size: 30px;
	color: #191919;
	font-weight: normal;
	margin: 70px 0 15px 0;
}
.fir_come h5 {
	font-size: 16px;
	color: #191919;
	font-weight: normal;
	margin-bottom: 35px;
}
.new_prom {
	width: 757px;
	height: 120px;
	line-height: 120px;
	background: #a8865f;
}
.new_prom span {
	margin: 42px 86px;
}
.new_prom span:nth-of-type(1) {
	margin-right: 0;
}
.new_prom span a,.chose p {
	color: #fff;
	letter-spacing: 3px;
}
.new_prom span i {
	font-size: 28px;
	padding: 20px;
}
.chose {
	width: 405px;
	height: 120px;
	background: #a8865f; 
	text-align: center;
}
.chose p {
	margin: 25px 0 20px 0;
}
.chose select {
	outline: none;
	padding: 5px 10px;
	border: none;
	border-radius: 2px;
}
.chose select:nth-of-type(1) {
	margin-right: 45px;
}
.chose span a {
	color: #fff;
	margin-left: 10px;
	font-size: 18px;
}
.foot-nva {
	margin-top: 70px;
}
.foot-nva ul {
	float: left;
	width: 95px;
	margin-right: 15px;
}
.foot-nva ul li.fot_nva_first {
	padding-bottom: 25px;
}
.foot-nva ul li.fot_nva_first a {
	font-size: 16px;
	color: #282828;
	letter-spacing: 3px;
}
.foot-nva ul li {
	line-height: 20px;
	letter-spacing: 2px;
}
.foot-nva ul li a {
	font-size: 12px;
	color: #282828; 
}
.twoqr { 
	width: 220px;
	text-align: right;
}
.twoqr p {
	margin-bottom: 20px;
}
.twoqr p span {
	letter-spacing: 3px;
}
.twoqr p span.two_phone {
	margin-right: 20px;
}
.online {
	height: 80px;
	line-height: 80px;
	padding-left: 5px;
}
.online img {
	vertical-align: middle;
	padding-left: 40px;
}
.online ul li {
	float: left;
	letter-spacing: 3px;
}
.online ul li.last_2 {
	margin-left: 76px;
}
.online ul li.last_1 {
	padding-left: 20px;
	letter-spacing: 3px;
}
.online ul li a {
	color: #191919;
}
.online ul li.last_1 a {
	color: #ff0a0a;
	font-size: 18px;
	font-weight: bold;
}
.about_us {
	background: #272727;
	color: #a5a5a5;
	text-align: center;
	line-height: 25px;
}
.about_cont ul {
	line-height: 60px;
	width: 678px;
	padding-left: 41%;
	margin-left: -150px;
	padding-top: 15px; 
}
.about_cont ul li {
	float: left;
	margin: 0 30px;
	position: relative;
}
.about_cont ul li::after {
	content: "";
	height: 30%;
	border-right: 2px solid #a5a5a5;
	position: absolute;
	top: 22px;
	left: 100px;
}
.about_cont ul li.call_us::after {
	border: none;
}
.about_cont ul li a {
	color: #a5a5a5;
	letter-spacing: 2px;
}
.about_cont p {
	letter-spacing: 2px;
}
.about_cont p {
	font-size: 15px;
}
.about_cont p  span {
	padding: 0 10px;
	font-size: 15px;
}
.qqcom p, .code p {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	display: none;
}
.ripassword_cont .code #me-td1 {
	margin-top: 8px;
}
/* aside code*/
.aside_right {
	position: fixed;
	top: 22%;
	right: 0;
}
.aside_right ul li {
	width: 76px;
	height: 56px;
	margin-bottom: 1px;
	background: #a8865f; 
	text-align: center;
	padding-top: 20px; 
	line-height: 20px;
}
.aside_right ul li a {
	color: #fff;
	font-size: 12px; 
}
.aside_right ul li a i {
	font-style: normal;
	font-size: 32px;
	color: #fff;
}

